@import "rsuite/dist/rsuite.css";

.messages-container {
  flex: 1;
  overflow-y: auto;
  padding: 40px;
  padding-top: 80px;
  box-sizing: border-box;
  display: flex;
  flex-direction: column;
  font-size: 20px;
  margin-top: 60px; 
  margin-bottom: 70px; 
  padding-bottom: 20px;
}

.user-message-container,
.assistant-message-container {
  display: flex;
  flex-direction: column;
  width: fit-content;
  margin: 4px 0;
  padding-right: 80px;
  padding-left: 80px;
}

.user-message-container {
  align-self: flex-end;
  align-items: flex-end;
}

.assistant-message-container {
  align-items: flex-start;
}

.message {
  white-space: pre-line;
  padding: 14px;
  margin: 2px 0;
  border-radius: 10px;
  clear: both;
  font-weight: 600;
  line-height: 1.4;
  text-align: left;
}

.user-message {
  align-self: flex-end;
  background-color: #337778;
  color: white;
  border-top-right-radius: 0;
  text-align: left;
  padding-top: 30px;
  padding-right: 30px;
  padding-left: 30px;
}

.assistant-message {
  align-self: flex-start;
  background-color: #f6f6f6;
  border-top-left-radius: 0;
  color: #000000;
  padding-top: 30px;
  padding-right: 30px;
  padding-left: 30px;
  width: 100%;
  box-sizing: border-box;
}

::-webkit-scrollbar {
  display: none;
}

.input-area {
  font-size: 15px;
  padding: 10px;
  padding-bottom: 20px;
  bottom: 0;
  display: flex;
  border-top: 1px solid #ccc;
  background: #fff;
  position: fixed;
  width: calc(92% - 40px);
  align-self: center;
}

.input-area textarea {
  font-size: 15px;
  flex: 1;
  padding: 10px;
  border-radius: 10px;
  border: 1px solid #ccc;
  resize: none;
  overflow-y: auto;
  min-height: 200px;
  max-height: 200px;
  margin-right: 10px;
}

.input-area input {
  flex: 1;
  padding: 10px;
  margin-right: 10px;
  border: 1px solid #ccc;
  font-size: 13px;
}

.input-area button {
  height: 60px;
  width: 100px;
  padding: 10px 20px;
  border: none;
  background-color: #F3C04C;
  color: black;
  cursor: pointer;
  font-size: 16px;
  font-weight: 700;
}