@import url("https://fonts.googleapis.com/css2?family=Inter:wght@100;200;300;400;500;600;700;800;900&display=swap");

* {
  font-family: Arial, Helvetica, sans-serif;
  font-size: 14px;
}

.App {
  background-color: white;
  display: flex;
  justify-content: center;
}

img {
  width: 250px;
  height: auto;
}

.header {
  color: #F3C04C;
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 80px;
  padding: 20px 5%;
  background: rgba(255, 255, 255); 
  display: flex;
  font-weight: 600;
  font-size: 32px;
  align-items: center;
}

.emoji {
  font-size: 40px;
}

.menu {
  position:fixed;
  background-color: #337778;
  margin-top: 75px;
  height: 40px;
  font-weight: 700;
  font-size: 16px;
  display: flex;
  justify-content: left;
  align-items: center;
  width: 90%;
}

.menu_item {
  color: white;
  padding-left: 10px;
  padding-right: 10px;
  font-size: 12px;
}

.bold_menu_item {
  color: white;
  padding-left: 15px;
  padding-right: 15px;
  font-weight: 900;
  font-size: 12px;
}
